{% extends "base.html" %}


{% block content %}

<div class="container-7">
    {% include "partials/_alert.html" %}

    <form action="{% url 'login2' %}" method="post" class="border-2 border-[aqua] my-[4rem]">
        {% csrf_token %}
            <div class="text-[aqua]" >
            <label for='' class="text-[aqua]" >Email</label>
            <div>
                <input type='text' name='username' id=''>
        
            </div>
            </div>
            <div class="text-[aqua]">
            <label for=''  class="text-[aqua]">Password</label>
            <div>
        
                <input type='text' name='password'  id=''>
            </div>
            </div>
        <button type="submit" class="bg-[aqua] my-4 block text-white text-sm ">
            Submit
        </button>
        </form>
</div>



{% endblock %}

