{% extends "base.html" %} 

{% block title %}
About
{% endblock %}
{% block content %}

<div class='container-7'>
    <h1 class="text-white mt-[3rem] text-center text-4xl">About Page</h1>
<p class="text-sm text-white my-6">
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Officia cumque vitae deserunt odio atque voluptatibus facilis praesentium ipsam dolorem hic illum cupiditate iure, reprehenderit delectus qui unde. Eos recusandae inventore veniam sequi laudantium ipsam obcaecati molestias et esse dicta!
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Nesciunt, quia voluptas impedit tempore laudantium neque nulla at numquam assumenda quibusdam.
</p>
</div>
{% endblock %}
