 {% extends "base.html" %}
 {% block title %}
Home
{% endblock %}
 {% load static %}
 {% block content %}
<main class=" container-7 py-6 ">

  {% include "partials/_alert.html" %}

  <!-- <div class="absolute inset-0 main-gradient min-h-screen z-[-1]"></div> -->
  <h3 class="text-white md:text-lg text-sm mt-14 my-8 l-spacing">
    
    {% if total_movies %}
    {{total_movies}}
    {% else %}
    No
    {% endif %}
    Result found</h3>
    
    {% if movielist %}
  <div class=" my-6 grid lg:grid-cols-5 md:grid-cols-3 sm:grid-cols-3 grid-cols-2 gap-3 related-movie-animation   md:gap-7 ">



    <!-- Card -->
    {% for movie in movielist %}


<!-- <a href='' class="block"> -->

  <div class="rounded-2xl list-card-gradient overflow-hidden md:pb-20  sm:pb-18 pb-16 z-[1] related-movie  shadow-2xl inline-block   " href="{% url 'movie' movie.id %}">
      

    
  

      <div class="img-container z-20  ">

        <form action='{% url "addwatchlist" %}' method="post" class="addwatchlist">
{% csrf_token %}
          <input type='hidden' name='movie_id' value="{{movie.id}}">
        </form>
        <img src='{{movie.main_img.url}}' alt='' class="img" srcset=''>
        <div class='overlay'>

        </div>

        <a href='javascript:{document.querySelector(".addwatchlist").submit()}' class="add-in-watchlist   ">
         
          <i data-feather="plus"></i>
    
        </a>
        <div class="card-content py-1 ">
          <h3 class=" text-white text-center movie-title  ">{{movie.title}}</h3>
        <div class=" gap-1 items-center justify-between   movieLanguages relative  ">
          <h3 class="text-xs text-center font-sans available-in">Available in</h3>
          <p class="desc  text-center">{{movie.movie_languages}}</p>
        </div>

 
          <div class="flex justify-center items-center mt-4  ">
            <a href='{% url "movie" movie.id  %}' class="py-[3px] px-3 mx-auto border-2 border-white  text-white cursor-pointer inline-block text-center  rounded-lg hover:border-[aqua] transition duration-300 text-xs ">
              Watch Trailer
            </a>
          </div>
<div class=" mt-6 flex justify-between items-center ">
  <div class="flex  gap-2 items-center ">
    <a class=" text-xs">
     
      <i data-feather="star" class="w-4 h-4"></i>
    
    </a>
    
    <h3>5</h3>
              </div>

              <h4 class="font-thin font-sans">{{movie.movie_time}}</h4>
</div>



<div class=" mt-4 flex justify-between items-center ">

    
    <h6 class=" text-right font-sans font-thin text-sm">{{movie.released_date}}</h6>
       
  <a href='{% url "movie" movie.id %}' class=""><i data-feather="info"  class="w-5 h-5" ></i></a>
</div>
        </div>

      </div>
     
   

    </div>
<!-- </a> -->
  
   
  {% endfor %}
</div>
{% endif %}



  <!-- {% if movielist.has_other_pages %} -->
  <div class="flex items-center justify-center py-6 ">
<div class="flex items-center justify-between gap-6">

  {% if movielist.has_previous %}
  <!-- PREV -->
  <a class="rounded-full bg-[#9E00FF] p-2 pagination-common-btn transition duration-150" href="?page={{movielist.previous_page_number}}">
    <i data-feather="chevron-left" class=" text-white"></i>
  </a>
  {% endif %}

  <div class="flex items-center justify-between gap-2 w-full bg-[#5C0095] px-1  rounded-3xl ">

    {% for page in movielist.paginator.page_range %}



    
    <a href='?page={{page}}' 

    {% if page == movielist.number %}
    class="text-white pagination-btn active rounded-full"

    {% else %}
    class="text-white pagination-btn rounded-full"
    {% endif %}
    
    >{{page}}
  
  </a>

    <!-- <a href='' class="text-white pagination-btn rounded-full">2</a>
    <a href='' class="text-white pagination-btn active rounded-full">3</a>
    <a href='' class="text-white pagination-btn rounded-full">4</a>
    <a href='' class="text-white pagination-btn rounded-full">5</a>
    <a href='' class="text-white pagination-btn rounded-full">6</a>
    <a href='' class="text-white pagination-btn rounded-full">7</a>
    <a href='' class="text-white pagination-btn rounded-full">8</a> -->
    {% endfor %}
  </div>

  {% if movielist.has_next %}
  <!-- NEXT -->
  <a class="rounded-full bg-[#9E00FF] p-2 pagination-common-btn transition duration-150" href="?page={{movielist.next_page_number}}">
    <i data-feather="chevron-right" class="text-white "></i>
  </a>
  {% endif %}
</div>
  </div>
 {% endif %}

<p>

  <!-- {{movielist}} -->
</p>
</main>

{% endblock %}
