{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel='stylesheet' href="{% static 'output.css' %}" >


    <link rel="icon" type="image/png" sizes="96x96" href="{% static 'img/weblogo.png' %}">

    <script src='{% static "dist/feather.min.js" %}'></script>
 
 

    <title>MovieManiac |{% block title %} {% endblock %}</title>
  </head>
  <body class="main-gradient min-h-screen">

    <!-- SIDEBAR -->
    {% include "partials/_sidebar.html" %}
    <!-- NAVBAR -->
    {% include 'partials/_nav.html' %}


    <!-- MAIN BODY -->
    <div class="content-shift cancel-search">

      {% block content %}
       {% endblock %}
    </div>  

    <!-- JAVASCRIPT -->
     <script src='https://cdnjs.cloudflare.com/ajax/libs/gsap/3.9.1/gsap.min.js' ></script>
     <script src='https://cdnjs.cloudflare.com/ajax/libs/gsap/3.9.1/ScrollTrigger.min.js'></script>
     <script src='{% static "feather-icons/dist/feather.min.js" %}'></script>
     <script src="{% static 'main.js' %}" ></script>

    <script>
    

      
      let sl1=gsap.timeline({
        scrollTrigger:{
          trigger:".main-card-1",
          start:"center bottom"
        }
      })
      let sl2=gsap.timeline({
        scrollTrigger:{
          trigger:".main-card-2",
          start:"center bottom"
        }
      })
      let casts=gsap.timeline({
        scrollTrigger:{
          trigger:".top-casts-animation",
          start:"center bottom"
        }
      })
      let thumbnails=gsap.timeline({
        scrollTrigger:{
          trigger:".thumbnails-animation",
          start:"center bottom"
        }
      })
      let reviews_collect=gsap.timeline({
        scrollTrigger:{
          trigger:".reviews-collection",
          start:"center bottom"
        }
      })
     let related_movie_animation=gsap.timeline({
       scrollTrigger:{
        trigger:".related-movie-animation",
       start:"center bottom"
     }
      })
      let sl3=gsap.timeline({
        scrollTrigger:{
          trigger:".tv",
          start:"center bottom"
        }
      })
      sl1.from(".gradient-cat1",{backgroundX:200,  opacity:0, y:-100,duration:1,stagger:0.3})
      sl2.from(".gradient-cat2",{backgroundY:200,  opacity:0,duration:1,stagger:0.3})
      thumbnails.from(".thumbnail",{backgroundY:200,  opacity:0,duration:1,stagger:0.2})
      casts.from(".topcast-card",{backgroundY:200,  opacity:0,duration:1,stagger:0.2})
     // reviews.from(".review",{backgroundY:200,  opacity:0,duration:1,stagger:0.2})
      gsap.from(".related-movie",{backgroundY:200, scale:0.7, opacity:0,duration:1,})
      related_movie_animation.from(".related-movie-sec",{backgroundY:200, scale:0.7, opacity:0,duration:1,})
      gsap.from(".tv-anim",{ scale:1.2, opacity:0,duration:1})
      gsap.from(".movie-data",{backgroundY:200, x:200, opacity:0,duration:1})
      gsap.from(".bubble-effect",{backgroundY:200,scale:1.2,yoyo:true, opacity:0,duration:1,stagger:0.2})
      gsap.from(".writer",{backgroundY:200,  opacity:0,duration:1,stagger:0.2,scaleY:0.7})
      gsap.from(".director",{backgroundY:200, scaleY:0.7, opacity:0,duration:1,stagger:0.2})
      gsap.from(".description",{backgroundY:200, scaleY:0, opacity:0,duration:1})
      //gsap.from('.ellipse-m', { opacity: 0, duration: 2, y: -500 ,repeat:-1})

      const reviewOverlay=document.querySelectorAll(".review-overlay-2")
      const editbuttons = document.querySelectorAll(".edit-button")
      const reviewMessages = document.querySelectorAll(".review-message")
      const reviewTextField = document.querySelectorAll(".review-message-textfield")
      const disable_model_2=document.querySelectorAll(".disable_model_2")

      const add_review=document.querySelector(".add-review")
      const review_overlay=document.querySelector(".review-overlay")
const disable_model=document.querySelector(".disable_model")


      add_review.addEventListener("click",()=>{
        review_overlay.classList.add("active")
        document.body.style.overflowY="hidden"
       
       
       });


       disable_model.addEventListener("click",()=>{
        review_overlay.classList.remove("active")
       
      
       document.body.style.overflowY="auto"
      
      
      })

      editbuttons.forEach((btn,i) => {
        btn.addEventListener("click", () => {
            let messageContent = reviewMessages[i].textContent.trim()
        
            reviewTextField[i].value = messageContent;
         
            document.body.style.overflowY="hidden"
            reviewOverlay[i].classList.add(`active`)
        })
    })


    disable_model_2.forEach((btn,i)=>{
      btn.addEventListener("click",()=>{
        document.body.style.overflowY="auto" 

        reviewOverlay[i].classList.remove("active")
      })
    })













 //const search_btn = document.querySelector('.search-btn');
 //const drop_down=document.querySelector('.dropdown')
 //const cancel_search=document.querySelector('.cancel-search')

 //search_btn.addEventListener('click',()=>{
  //drop_down.classList.toggle('search-dropdown')
//})
//cancel_search.addEventListener('click',()=>{
//drop_down.classList.remove('search-dropdown')
//}); 









    </script>
  </body>
</html>
